---
---

@import "{{ site.theme }}";

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: #3339FF;

  @include large {
    padding: 5rem 6rem;
  }
